.logo{
    width: auto;
    height: 50px;
}
.navbar{
    padding: 5px 30px;
}
.nav-sub{
    text-decoration: none;
    padding: 10px;
    color: black;
    background: red;
    margin-right: 10px;
    border-radius: 5px;
}
.section1{
    background-color: #f003;
    padding: 50px;
}
.section1-header{
    padding: 40px 0px;
}
.sectionh{
    text-align: center;
}
.section1-body{
    background-color: #fff;
    width: 90%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    border-radius: 10px;
    padding: 80px 30px;
    box-shadow: 0 2px 5px 10px #0003;
}
.section1-element{
    box-shadow: 0 2px 5px 10px #0003;
    border-radius: 10px;
    margin: 15px;
  
}
.section-video{
    border-radius: 10px;
    
}
.section1-v-explain{
    text-align: center;
    padding: 100px 0px;
}
.section-element-h{
    padding-bottom: 15px;
}
.started{
    color: black;
    background-color: red;
    padding: 10px;
    border-radius: 20px;
    text-decoration: none;
}
@media screen and (max-width:992px){
    .section1-body{
        grid-template-columns: repeat(2,1fr);
        
    }
    .section1{
        padding: 10px;
    }
}
@media screen and (max-width:768px){
    .section1-body{
        grid-template-columns: repeat(1,1fr);
    }
}